@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Jost", sans-serif;
}

body {
  position: relative;
  background: #13131d;
}

body::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../assets/noise.gif");
  z-index: -1;
  opacity: 0.05;
}

@layer base {
  .btn {
    @apply rounded-md border-0 px-12 py-3 text-white duration-300 ease-in font-normal;
  }

  .btn-primary {
    @apply bg-primary hover:bg-dark shadow-xl shadow-primary/10;
  }

  .btn-dark {
    @apply bg-dark hover:bg-primary;
  }

  .card {
    @apply bg-dark/20 backdrop-blur-md border border-white/10 rounded-lg p-4;
  }
  .card-transparent {
    @apply bg-dark/30 border border-white/10 rounded-lg p-4;
  }
}

.link-hover {
  position: relative;
}

.link-hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #00a3ff;
  bottom: -3px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.link-hover:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/* Banner section */
.banner-bg {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.slider-1 {
  background-image: url("../assets/backgrounds/bg-image-1.jpg");
}
.slider-2 {
  background-image: url("../assets/backgrounds/bg-image-2.jpg");
}
.slider-3 {
  background-image: url("../assets/backgrounds/bg-image-3.jpg");
}

.banner-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #13131d6e;
  z-index: -1;
}

/* Top sellers section */
.top-seller:hover .top-seller-image {
  transform: scale(1.2);
}

/* Product card */
.product {
  position: relative;
}
.product::before {
  position: absolute;
  content: "";
  background-image: linear-gradient(100deg, #13131d, #0398ed);
  width: 100%;
  height: 100%;
  top: auto;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 0.6rem;
  transition: all 0.5s;
}
.product:hover:before {
  transform: rotate(2deg) translateX(-9px) translateY(11px);
}
.product:hover .product-image {
  transform: scale(1.1);
  border-radius: 10px;
}
.product:hover .title {
  color: #00a3ff;
}

/* Dropdown style */
.active-dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 0.5s ease;
}

.inactive-dropdown {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: 0.5s ease;
}

.time-w {
  width: 2ch;
}

/* React slick style */
.slick-dots {
  bottom: 60px !important;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: transparent !important;
  border: 2px solid #00a3ff !important;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.slick-dots li button:before {
  opacity: 1 !important;
  color: #212e48 !important;
  font-size: 12px !important;
}

.slider-area .slick-slide {
  padding: 5px;
}

/* Custome scrollbar */
.custome-scrollbar::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
}

.card-scrollbar::-webkit-scrollbar-track {
  background-color: #212e48;
}
.navbar-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #212e48;
}

.custome-scrollbar::-webkit-scrollbar-thumb {
  background-color: #00a3ff;
  border-radius: 0 10px 10px 0;
}

@media (max-width: 1024px) {
  .stickyBox {
    position: inherit !important;
    top: inherit !important;
  }
}
